body {
  font-family: Noto Sans Thai;
  margin: 0;
  background-color: #fff;
  color: #333;
}

/* .nav-container {
	display: grid;
  grid-template-columns: 50% auto 50%;
  grid-gap: 10px;
  align-items: start;
  color: white;
}

.nav-container > div{
    text-align: center;
} */

#tag-search, #logo{
    grid-column: 1 / 1 span;
    width: 8%;
    height: auto;
    text-align: left;
}

#profile{
    width: 5%;
    height: auto;
    text-align: right;
}

#search{
  text-align: left;
  padding-left: 25px;
  border-radius: 5px;
  background-color: #A13F3F;
  width: 200px;
  color: white;
  font-size: 18px;
}

.login-register{
  text-align: right;
}

.nav-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #FF4C4F;
  border-radius: 5px;
  align-items: center;
  padding: 10px;
  margin: 5px 10px;
}

.top-left{
  grid-column: 1;
}

.top-right{
  grid-column: 2;
  text-align: right;
}
.nav-bottom{
    grid-column: 1 / 3 span;
    background-color: #9797974f;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}

.tag-book{
    padding-left: 100px;
    padding-right: 100px;
}

#loginHead{
  grid-column: 1 / span 3;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 25px;
}

#login-box{
  grid-column: 2 / span 1;
  text-align: center;
  background-color: #9797974f;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.login-container {
	display: grid;
  grid-template-columns: 20% auto 20%;
  grid-gap: 10px;
  align-items: start;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 550px;
  margin-right: 550px;
  text-align: center;
}

.login-container > div{
    text-align: center;
}

.userLogin{
  text-align: left;
  padding-left: 20px;
}

.userLogin::after{
  content:"*";
  color: red;
  font-weight: bold;
}

.inputuser{
  padding: 5px 130px;
}

.forgetpassword{
  text-align: left;
  padding-left: 20px;
}


.tab-bottom{
  background-color: #FF4C4F;
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 100%; 
}
