body {
  font-family: Noto Sans Thai;
  margin: 0;
  background-color: rgb(253, 251, 248);
  color: #333;
  height: 100%;
}
.grid-container {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: start;
}

.grid-container > div{
    text-align: center;
}

.nav-container{
  grid-column: 1 / span 3;
}

#tab-search{
    width: 6%;
    height: auto;
    margin-left: 15px;
}

#logo{
    width: 10%;
    height: auto;
}

#profile,#basket{
    width: 4%;
    height: auto;
}

#lineSpace{
    height: auto;
}

.search-box{
  width: 260px;
  padding: 5px 5px;
  border-radius: 15px;
  background-color: #A13F3F;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchimg{
    width: 8%;
    height: auto;
}

#search{
  text-align: left;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: #A13F3F;
  width: 200px;
  color: white;
  font-size: 18px;
  border: white;
  font-family: Noto Sans Thai;
}

#search::placeholder{
  color: white;
}

.login-register{
  text-align: right;
  margin-right: 10px;
}

.nav-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FF4C4F;
  border-radius: 5px;
  padding: 10px;
  margin: 0.25% 0.5%;
}

.top-left{
  grid-column: 1;
  display: flex;
  align-items: center;
  gap: 10px; /*What gap is? = https://www.w3schools.com/cssref/css3_pr_gap.php*/
  text-align: left;
}

.click-img {
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.click-img:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.click-img:active {
  opacity: 0.4;
  transform: scale(0.95);
}


.top-right{
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px; /*What gap is? = https://www.w3schools.com/cssref/css3_pr_gap.php*/
  text-align: right;
}

.top-right a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.top-right a:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.05);
}

.top-right a:active{
    transform: scale(0.95);
}


.nav-bottom{
    grid-column: 1 / span 3;
    background-color: #9797974f;
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px #5c5c5c7a;
}

.nav-bottom a {
  text-decoration: none;
  color: #000000;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.nav-bottom a:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

.nav-bottom a:active{
  transform: scale(0.95);
}

.tag-book{
    padding-left: 100px;
    padding-right: 100px;
}


.register-container {
  grid-column: 1 / span 3;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-left: 650px;
  margin-right: 650px;
  text-align: center;
}

.register-container > div{
    text-align: center;
}

#regisHead{
  grid-column: 1 / span 3;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 25px;
}

#regis-box{
  grid-column: 2 / span 1;
  background-color: #9797974f;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}


.userRegis{
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 18px;
}

.userRegis::after{
  content:"*";
  color: red;
  font-weight: bold;
}

.inputuser{
  padding: 8px 12px;
  border-radius: 5px;
  border: white;
  width: 95%;
  box-sizing: border-box;
  font-family: Noto Sans Thai;
  font-size: 16px;
}

.register-button{
  background-color: #ff7b7d;
  color: white;
  font-family: Noto Sans Thai;
  font-size: 24px;
  border-radius: 5px;
  border: white;
  padding: 10px 40px;
  margin-top: 20px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.register-button:hover{
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.98);
}

.register-button:active{
  opacity: 1;
}

.login-text{
  text-align: center;
  margin-top: 5px;
}

.login-text a {
  text-decoration: none;
  color: #00BBFF;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.login-text a:hover {
  text-decoration: underline;
  opacity: 0.5;
}


.tab-bottom-container{
  grid-column: 1 / span 3;
  background-color: #FF4C4F;
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}
.tab-bottom-container hr{
    margin-bottom: 25px;
}
